body {
    background-color: rgb(161, 161, 161);
}

ol li {
    background-color: yellow;
    margin: 2px 0;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

.header {
    color: red;
}

.italic {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.primeiras {
    color: blue;
}

.temJava {
    background-color: pink;
}

a:hover {
    font-weight: bold;
}

#overflow:hover {
    color: orange;
}

#w3s:hover {
    color: green;
}

#MDN:hover {
    color: black;
}

#DevDocs:hover {
    color: yellow;
}

#trybe:hover {
    color: greenyellow;
}
